@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
}

:root {
    --body-backgorund-color: rgb(235, 238, 240);
    --wrapper-basic-color: rgb(255, 255, 255);
    --main-background-color: rgb(112, 179, 255);
    --main-border-color: rgb(238, 238, 238);
    --main-font-color: rgb(51, 51, 51);
    --button-edit-color: rgb(255, 127, 127);
    --input-address-color: rgb(10, 42, 78);
    --input-label-color: rgba(112, 112, 112, .55);
} 

button:focus,
input[type="text"]:focus {
  outline: none;
  border-color: var(--main-background-color);
}
  
body {
    /* display: flex; */
    justify-content: center;
    background-color: var(--body-backgorund-color);
    color: var(--body-font-color);
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#wrapper {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 2rem;
    background: var(--wrapper-basic-color);
    border-radius: 5px;
    box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.2);
}

.container {
    display: flex;
    flex-direction: column;
}

#header {
    flex: 1;
    background: var(--main-background-color);
    color: var(--wrapper-basic-color);
    border-radius: 5px 5px 0 0;
    padding: 0.5rem 2.5rem;
}

#header h1 {
    font-size: 24px;
    padding: 1rem 0;
}

#main {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 2rem;
    border: 1px solid var(--main-border-color);
}

#contact-form {
    display: flex;
    flex-direction: column;
    flex:1;
    margin-bottom: 2rem;
}

.form-name, .form-address {
    border: 1px solid var(--main-border-color);
    padding: 0.7rem;
    margin-bottom: 1rem;
}

.form-submit-button {
    margin: 1rem 5rem;
    padding: 0.8rem 0;
    background: var(--main-background-color);;
    color: var(--wrapper-basic-color);
    border: 0;
    cursor: pointer;
    transition: opacity 0.2s linear;
}

.form-submit-button:hover {
    opacity: 0.8;
}

#contact-search {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 1rem;
}

#contact-search .input-search-name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8rem;
    border: none;
}

#contact-search .input-search-name .search-name {
    flex:1;
    padding: 0.7rem;
    border: 1px solid var(--main-border-color);
}

#contact-search .input-search-name .search-name:focus {
    outline: none;
    border-color: var(--main-background-color);
}

#contact-search .response-check {
    display: flex;
    flex: 1;
    margin-bottom: 2rem;
}

#contact-search .response-check label {
    padding-left: 0.5rem;
}

#contact-search .response-check input {
    margin-left: 0.5rem;
}

#contact-search .response-check {
    padding-left: 0.2rem;
}

#contact-search button {
    padding: 0.7rem;
    background: var(--main-background-color);;
    color: var(--wrapper-basic-color);
    border-radius: 0;
    border: 0;
    cursor: pointer;
    transition: opacity 0.2s linear;
}

#contact-search button:hover {
    opacity: 0.7;
}

#contact-list {
    display: flex;
    flex: 1;
    flex-direction: column;
}

#contact-list ul {
    display: flex;
}

#contact-list > li {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.2em;
    border: 1px solid var(--main-border-color);
}

#contact-list li label {
    display: flex;
    font-size: 14px;
    margin: 0.2rem 0;
    color: var(--input-label-color);
}
  
#contact-list li label input[type="checkbox"] {
    margin-left: 0.5rem;
    cursor: pointer;
    transition: opacity 0.2s linear;
}

#contact-list li .contact-list-buttons {
    display: flex;
}

#contact-list li.confirmed {
    transition: 0.4s;
    border-color: var(--main-background-color);;
}
  
#contact-list li.confirmed label,
#contact-list li.confirmed a,
#contact-list li.confirmed span {
    transition: 0.4s;
    color: var(--main-background-color);
}

#contact-list button {
    padding: 0 0.5rem;
    font-size: 12px;
    background: var(--main-background-color);
    color: var(--wrapper-basic-color);
    border: 0;
    cursor: pointer;
    transition: opacity 0.2s linear;
    border-radius: 3px;
    margin-right: 0.3rem;
}

#contact-list button:last-child {
    background: var(--button-edit-color);
}

#contact-list li button:hover {
    opacity: 0.7;
}

#contact-list > li .list-user-name {
    font-weight: bolder;
    font-size: 18px;
}

#contact-list > li .list-github-address {
    font-size: 14px;
    color: var(--input-address-color);
}